html{
    font-size: 16px;

    box-sizing: border-box;
    
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
}
:root{
    
    --indianred:#CD5C5C;
    --lightcoral:#F08080;
    --salmon:#FA8072;
    --darksalmon:#E9967A;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

